.contianer{
    display: flex;
    gap: 100px;
}
.neco {
    background-color: rgb(81, 181, 95);
    padding: 50px;
    width: 50%;
}
.heaer1{
    margin-top: 50px;
    margin-bottom:50px ;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.result{
    width: 45%;
    padding:0px 150px;
    justify-content: center;
}
.login{
    width: 80%;
    padding: 18px 20px;
    border-radius: 5px;
    outline:0px;
    /* background-color: rgb(243, 244, 246); */
    border: none;
}
.decoration{
    line-height: 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
}
.result{
    padding: 0% 6%;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 10px; */
}
.result h4 {
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.result p{
    color:rgb(179, 171, 171);
}
.content{
    width: 75%;
    padding: 18px 20px;
    border-radius: 10px;
    background-color: rgb(243, 244, 246);
    border: 1px; 
} 
.log{
  
    border-radius: 10px;
    background-color: rgb(81, 181, 95);
    border: 1px;
    color: white;
    font-weight: bolder;

}
button#submit {
    width: 384px; 
    border-radius: 10px;
    background-color: rgb(81, 181, 95);
    border: 1px;
    color: white;
    font-weight: bolder;
    padding: 20px;
    margin-left: -20px;
    cursor: pointer;
}
.forget{
    text-decoration: none;
    color:rgb(81, 181, 95);
    font-weight: 700;
    font-size: 20px;
}
a.forget{
    text-decoration: none;
    color: rgb(81, 181, 95);
}
.check{
    width: 388px;
    padding: 18px 20px;
    border-radius: 10px;
    background-color: rgb(243, 244, 246);
    border: 1px solid #3b82f6; 
    color:#3b82f6;
    font-weight: 900;
    cursor: pointer;

}
p .account{
    color: black;
}
a.account{
    text-decoration: none;
    color: rgb(81, 181, 95);
}